.pagination-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

button {
  margin: .25rem;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 3px;
}

button:disabled {
  opacity: .5;
  cursor: not-allowed;
}

button.action-btn {
  background: blue;
  color: #fff;
}

button.page-active {
 background:green;
  color: #fff;   
}
